<!DOCTYPE html>
<html lang="en">
  <%- include('header') %>
  <body>
    <div class="box">
      <h1 id="heading">This is an About page</h1>
    </div>
    <div class="box">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore
        voluptatem illo quia possimus sed voluptate autem quasi quos ratione.
        Temporibus repellat quasi fuga quaerat tenetur facere soluta quibusdam
        dolore in.
      </p>
    </div>
  </body>
  <%- include('footer') %>
</html>
