<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TodoList with ejs!</title>
  </head>
  <body>
    <h1><%= today %></h1>
    <ul id="todo-list">
      <% for(const item of items) { %>
      <li><%= item %></li>
      <% } %>
    </ul>
    <form action="/" method="post">
      <input
        type="text"
        name="newItem"
        id="new-item"
        placeholder="enter a new item"
      />
      <button type="submit">Add to list</button>
    </form>
  </body>
</html>
